* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS";
  background-color: burlywood;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  text-align: center;
}

button {
  background-color: orangered;
  border-radius: 10px;
  color: #fff;
  font-family: "Comic Sans MS";
  font-size: 16px;
}

#app {
  width: 400px;
  height: 800px;
  display: block;
  margin: auto;
}

#top-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 0 30px;
}

#top-panel h2 {
  text-align: center;
  font-size: 18px;
  padding: 5px 0 5px;
}

#timer, #counter {
  background-color: rgb(218, 216, 216);
  border-radius: 5%;
  border-color: white;
}

#timer .time {
  display: inline-block;
  margin-left: 60px;
}

#timer.complete, #counter.complete {
box-shadow: 0px 0px 20px green;
background-color: whitesmoke;
border-radius: 5%;
}

#counter .value {
  text-align: center;
}

.component {
  width: 160px;
  height: 75px;
  border: 1px solid black;
}

#board {
  width: 402px;
  height: 402px;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(4, 100px);
  grid-template-areas: "sl1 sl2 sl3 sl4"
                       "sl5 sl6 sl7 sl8"
                       "sl9 sl10 sl11 sl12"
                       "sl13 sl14 sl15 sl16";
  border: 1px solid black;
  background-color: black;
}

#board.alert {
  box-shadow: 0px 0px 20px red;
}

#board.complete {
  box-shadow: 0px 0px 20px green;
}

#t1 {grid-area: sl1; background: url(./tiles/tile1.png);}
#t2 {grid-area: sl2; background: url(./tiles/tile2.png)}
#t3 {grid-area: sl3; background: url(./tiles/tile3.png)}
#t4 {grid-area: sl4; background: url(./tiles/tile4.png)}
#t5 {grid-area: sl5; background: url(./tiles/tile5.png)}
#t6 {grid-area: sl6; background: url(./tiles/tile6.png)}
#t7 {grid-area: sl7; background: url(./tiles/tile7.png)}
#t8 {grid-area: sl8; background: url(./tiles/tile8.png)}
#t9 {grid-area: sl9; background: url(./tiles/tile9.png)}
#t10 {grid-area: sl10; background: url(./tiles/tile10.png)}
#t11 {grid-area: sl11; background: url(./tiles/tile11.png)}
#t12 {grid-area: sl12; background: url(./tiles/tile12.png)}
#t13 {grid-area: sl13; background: url(./tiles/tile13.png)}
#t14 {grid-area: sl14; background: url(./tiles/tile14.png)}
#t15 {grid-area: sl15; background: url(./tiles/tile15.png)}
#t16 {grid-area: sl16; background: url(./tiles/tile16.png)}

.tile {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border: 1px solid black;
  font-size: 45px;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}
